{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<div class="container wrap">
  <form id="pizzaMaker" class="form">
    <label for="toppingsNumber">How many toppings:</label>
    <br>
    <select name="toppingsNumber" id="toppingsNumber">
      <option value="IDGAF">IDGAF</option>
    </select>
    <br>
    <br>
    <input type="radio" name="options" value="all" checked>
    <label for="all">Down for whatever</label>
    <br>
    <input type="radio" name="options" value="meats">
    <label for="meats">Meats only</label>
    <br>
    <input type="radio" name="options" value="veggies">
    <label for="veggies">Veggies only</label>
    <br>
    <br>
    <button id="create" class="btn">Automatic Pizza!</button>
  </form>
  
  <div class="output-wrap">
    <p>Your automatic pizza is:</p>
    <ul id="output"></ul>
    <p id="priceOutput"></p>
  </div>
</div>
<footer>
  <div id="copyright">&copy; <span></span> <a href="https://chrisgustin.io">Chris Gustin</a>. All rights reserved.</div>
  <div>Favicon and background icons made by <a href="http://www.freepik.com" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a> is licensed by <a href="http://creativecommons.org/licenses/by/3.0/" title="Creative Commons BY 3.0" target="_blank">CC 3.0 BY</a></div>
</footer>
{% endblock %}
