{#
  Nunjucks Templating!
  Homepage: https://mozilla.github.io/nunjucks/
  Docs: https://mozilla.github.io/nunjucks/api.html
#}

{% extends 'layouts/application.html' %}

{% block content %}
<header>
  <div class="container">
    <h1>Pizzabot</h1>
    <p>Pizza toppings made easy</p>
  </div>
</header>
<div class="container wrap">
  <form id="pizzaMaker" class="form">
    <!-- <label for="toppingsNumber">How many toppings:</label>

    <select name="toppingsNumber" id="toppingsNumber">
      <option value="IDGAF">IDGAF</option>
    </select> -->
    
    <div class="custom-radio">
      <input id="allRadio" type="radio" name="options" value="all" checked>
      <label for="allRadio">Down for whatever</label>
    </div>
    
    <div class="custom-radio">
      <input id="meatsRadio" type="radio" name="options" value="meats">
      <label for="meatsRadio">Meats only</label>
    </div>
    
    <div class="custom-radio">
      <input id="veggiesRadio" type="radio" name="options" value="veggies">
      <label for="veggiesRadio">Veggies only</label>
    </div>

    <hr>
    <div id="toppingsNumber" class="clearfix">
      <div class="custom-radio-alt">
        <input id="IDGAF" type="radio" name="numToppings" value="IDGAF" checked>
        <label for="IDGAF">IDGAF</label>
      </div>
      
      <div class="custom-radio-alt">
        <input id="top1" type="radio" name="numToppings" value="1" checked>
        <label for="top1">1</label>
      </div>

      <div class="custom-radio-alt">
        <input id="top2" type="radio" name="numToppings" value="2" checked>
        <label for="top2">2</label>
      </div>

      <div class="custom-radio-alt">
        <input id="top3" type="radio" name="numToppings" value="3" checked>
        <label for="top3">3</label>
      </div>

      <div class="custom-radio-alt">
        <input id="top4" type="radio" name="numToppings" value="4" checked>
        <label for="top4">4</label>
      </div>

      <div class="custom-radio-alt">
        <input id="top5" type="radio" name="numToppings" value="5" checked>
        <label for="top5">5</label>
      </div>

      <div class="custom-radio-alt">
        <input id="top6" type="radio" name="numToppings" value="6" checked>
        <label for="top6">6</label>
      </div>

      <div class="custom-radio-alt">
        <input id="top7" type="radio" name="numToppings" value="7" checked>
        <label for="top7">7</label>
      </div>
    </div>

    <hr>

    <button id="create" class="btn">Pizza</button>
  </form>
  
  <div class="output-wrap">
    <ul id="output" class="output-toppings"></ul>
    <p id="priceOutput"></p>
  </div>
</div>
<footer class="container">
  <div id="copyright">&copy; <span></span> <a href="https://chrisgustin.io">Chris Gustin</a>. All rights reserved.</div>
</footer>
{% endblock %}
